/*-----basic-----------------------------------*/
html{overflow:-moz-scrollbars-vertical; overflow-y:scroll;z-index: 999;font-size:15px;}
body{font-family: Arila, "微軟正黑體", "Microsoft JhengHei", "新細明體", "PMingLiU", sans-serif;color:#000;-webkit-text-size-adjust:none;background:#fff;}
a,a:hover,a:focus{color:#000;text-decoration:none;}

/*-----index-----------------------------------*/

#green {
  padding: 0px;
}

.green-bac {
  background-color: green
}

h3 {
  color: #cbd287;
  font-size: 20px;
  padding: 15px 0;
}

h4 {
  background: #d9eacf;
  border-bottom: 1px solid #85bb65;
  color: #8f7358;
  padding: 10px 15px;
  font-size: 25px;
  margin-bottom: 20px;
}

h5 {
  font-size: 20px;
  padding-bottom: 20px;
}

p {
  font-size: 15px;
  line-height: 20px;
}

/*header*/

.header h1 {
  font-size: 30px;
  color: #356618;
  line-height: 40px;
  position: relative;

}

.header span {
  position: absolute;
  margin-left: 10px;
}

.header img {
  height: 40px
}

.header h2 {
  padding: 20px 0px;
  font-size: 20px;
}

.header a {
  color: white
}


.logo {
  text-align: center;
  background-color: white;
  padding: 10px 0;
  margin-top: 15px;
}

.navbar-collapse {
  padding: 0px;
}

.list-inline {
  margin-left: 0px;
}

.header ul {
  background-color: gray;
}

.list-inline > li {
    width: 16.4%;
    text-align: center;
}

.list-inline > li:hover {
    background-color: yellow;
    transition: all 0.3s linear;
}

/*slider*/
.slider {
  position: relative;
}

.slider img {
  width: 100%;
}

.slider .trans {
  position: absolute;
  width: 97.5%;
  top: 90%;
  font-size: 20px;
  text-align: center;
  padding: 1em 0;
  color: white;
  background-color: rgba(0,0,0,0.5);
}

/*desc*/
.desc i {
  position: relative;
  left: 0.7em;
  top: 0.3em;
  font-size: 4.5em;
  color: white;
}

.desc p {
  font-size: 16px;
  line-height: 24px;
  padding-bottom: 10px;
  color: white;

}

.border-right {
  border-right: 1px solid white;
}

.padding-20 {
  padding: 20px 0;
}

/*service*/
.service {
  padding-bottom: 30px;
  border-bottom: 1px solid gray;
}

.bac-white {
  padding: 20px;
  margin: 0px 15px;
  background-color: white;
  padding-bottom: 0px;
}

/*pay*/
.pay {
  margin: 30px 0px;
}

.pay h4 {
  margin-bottom: 0px;
}

.pay img {
  height: 23vw;
}

.pay li {
  font-size: 16px;
  line-height: 24px;
  padding: 15px 0;
}

/*detail*/
.detail {
  padding-bottom: 0px;
}

.detail .col-sm-3 {
  height: 14vw;
  padding: 15px;
  border-right: 1px solid green;
  border-top: 1px solid green;
  border-bottom: 0px;
}

.detail .row {
  position: relative;
  top: 1px;
  margin-left: -1.8%;
  width: 103.7%;
  display: inline-block;
  background-color: #DDFF77;
}

.detail li {
  font-size: 14px;
  line-height: 20px;
  padding-bottom: 5px;
}

/*footer*/

.footer p {
  text-align: center;
  font-size: 12px;
  color: #fff;
  line-height: 16px;
  padding: 10px 0px;
}